
{% extends "base.html" %}
{% block content %}
        <!-- PAGE TITLE
        ================================================== -->
        <section class="page-title-section bg-img cover-background dark-overlay" data-overlay-dark="6" data-background="../static/img/banner/page-title.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="display-3">Combo Corporate</h1>
                        <ul>
                            <li><a href="{{ url_for('index') }}">Home</a></li>
                            <li><a href="{{ url_for('combocorporate') }}">Combo Corporate</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="line-animated">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="p-1-9 p-sm-2-3 bg-white bottom-0 left d-inline-block position-absolute z-index-3"></div>
            <div class="position-absolute shape-1 d-none d-sm-block"></div>
            <div class="px-6 px-sm-9 py-3 py-sm-4 bg-white bottom-0 right d-inline-block position-absolute z-index-3"></div>
        </section>
        <br>
        <div class="srr-container">
            <div class="srr-box">
              <img src="../static/img/combo-corporate/images/blue-corp.jpg" alt="Yuken">
              <div class="srr-box-title">Blue Corp Combo</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/1z2sYMIy7C0YVflovFcxrcdbA2cXLIaJ6/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
            <div class="srr-box">
              <img src="../static/img/combo-corporate/images/grey.jpg" alt="Rexroth">
              <div class="srr-box-title">Grey & Black Combo</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/1hUs-ZoNje5KJEU9_ppfC5E9axK4RyBnl/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
            <div class="srr-box">
              <img src="../static/img/combo-corporate/images/rainbow-1.jpg" alt="Polyhydron">
              <div class="srr-box-title">Ranibow Combo 1</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/1EJF6CSW9D6ySUkHRj8cPIuQPG7rBpJmW/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
        </div>
        <div class="srr-container">
            <div class="srr-box">
              <img src="../static/img/combo-corporate/images/rainbow-2.jpg" alt="Yuken">
              <div class="srr-box-title">Ranibow Combo 2</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/1JrbXTJYsKmPLEbA33LkH9j82PnohKiJ5/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
            <div class="srr-box">
              <img src="../static/img/combo-corporate/images/corp-suting.jpg" alt="Rexroth">
              <div class="srr-box-title">Corp Suiting Combo</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/1-PdF8ak_QzUUzalLjFz4TI-mK058_2Or/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
            <div class="srr-box">
              <img src="../static/img/combo-corporate/images/blazer.jpg" alt="Polyhydron">
              <div class="srr-box-title">Blazer Suiting Combo</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/1uDCOLsvng91l_b08DtxqTt8CIFdPUhJy/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
        </div>
        <div class="srr-container">
            <div class="srr-box">
              <img src="../static/img/combo-corporate/images/piano.jpg" alt="Yuken">
              <div class="srr-box-title">Piano Combo</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/1fykQYIydXHTDqeFYTwY6B9G3eGIawUiC/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
            <div class="srr-box">
              <img src="../static/img/combo-corporate/images/piano-plus.jpg" alt="Rexroth">
              <div class="srr-box-title">Piano Plus Combo</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/1eLJNsQYRSZpEzwWmMUqAlYqjWRA_OY91/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
            <div class="srr-box">
              <img src="../static/img/combo-corporate/images/cocktail.jpg" alt="Polyhydron">
              <div class="srr-box-title">Cock Tail Combo</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/1ip4G-OKyePjkCO1JAgZ-6zRC3IQctc2N/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
        </div>
        <br>
        {% endblock %}
 