
{% extends "base.html" %}

{% block content %}
       <!-- PAGE TITLE
        ================================================== -->
        <section class="page-title-section bg-img cover-background dark-overlay" data-overlay-dark="6" data-background="../static/img/banner/page-title.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="display-3">Contact Us</h1>
                        <ul>
                            <li><a href="{{ url_for('index') }}">Home</a></li>
                            <li><a href="#!">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="line-animated">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="p-1-9 p-sm-2-3 bg-white bottom-0 left d-inline-block position-absolute z-index-3"></div>
            <div class="position-absolute shape-1 d-none d-sm-block"></div>
            <div class="px-6 px-sm-9 py-3 py-sm-4 bg-white bottom-0 right d-inline-block position-absolute z-index-3"></div>
        </section>

        <!-- CONTACT FORM
        ================================================== -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="pe-lg-1-9">
                            <div class="card card-style-03 mb-1-9">
                                <div class="card-body p-1-6 p-sm-1-9">
                                    <div class="d-flex">
                                        <div class="flex-shrink-0">
                                            <i class="ti-location-pin text-secondary z-index-9 display-8 position-relative"></i>
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <h4 class="h5 text-white">Location</h4>
                                            <span class="text-white opacity7">
                                                <a href="https://maps.app.goo.gl/RdvsDBh7EqKNCnXQA"
                                                   class="text-white" target="_blank" rel="noopener noreferrer">
                                                    No.1, 14th East Cross Road,<br>NAADT Ex-Servicemen, Co-op Building, Gandhinagar,Vellore - 632 006
                                                </a>
                                            </span>
                                        </div>
                                        
                                    </div>
                                    <i class="ti-location-pin bg-icon"></i>
                                </div>
                            </div>
                            <div class="card card-style-03 mb-1-9">
                                <div class="card-body p-1-6 p-sm-1-9">
                                    <div class="d-flex">
                                        <div class="flex-shrink-0">
                                            <i class="ti-mobile text-secondary z-index-9 display-8 position-relative"></i>
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <h4 class="h5 text-white">Phone Number</h4>
                                            <span class="d-block text-white opacity7"><a href="tel:+91 98414 44488" style="color: #ffff;">+91 98414 44488 </a> <br><a href="tel:+91 94455 44488" style="color: #ffff;">+91 94455 44488 </a></span>
                                        </div>
                                    </div>
                                    <i class="ti-mobile bg-icon"></i>
                                </div>
                            </div>
                            <div class="card card-style-03">
                                <div class="card-body p-1-6 p-sm-1-9">
                                    <div class="d-flex">
                                        <div class="flex-shrink-0">
                                            <i class="ti-email text-secondary z-index-9 display-8 position-relative"></i>
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <h4 class="h5 text-white">Email Address</h4>
                                            <span class="d-block text-white opacity7"><a href="mailto:indusfashions18@gmail.com" style="color: #ffff;">indusfashions18@gmail.com</a></span>
                                        </div>
                                    </div>
                                    <i class="ti-email bg-icon"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <h2 class="mb-4">Contact Us</h2>
                        <form class="contact quform" action="/contact-us" method="POST" enctype="multipart/form-data">
                            <div class="quform-elements">
                                <div class="row">
                                    <!-- Name Input Field -->
                                    <div class="col-md-12">
                                        <div class="quform-element form-group">
                                            <div class="quform-input">
                                                <input 
                                                    class="form-control" 
                                                    id="name" 
                                                    type="text" 
                                                    name="name" 
                                                    placeholder="Your School Name and Location" 
                                                    style="border:1.5px solid #213e96; width: 75%;" 
                                                    required
                                                />
                                                <br>
                                                <!-- Phone Input Field -->
                                                <input 
                                                    class="form-control" 
                                                    id="phone" 
                                                    type="text" 
                                                    name="phone" 
                                                    placeholder="Your Phone No" 
                                                    style="border:1.5px solid #213e96 ; width: 75%;" 
                                                    required
                                                />
                                                <br>
                                            </div>
                                        </div>
                                    </div>
                        
                                    <!-- Submit Button -->
                                    <div class="col-md-12">
                                        <div class="quform-submit-inner">
                                            <button class="btn-style1" type="submit">Send Message</button>
                                        </div>
                                        <div class="quform-loading-wrap text-start"><span class="quform-loading"></span></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        
                        {% with messages = get_flashed_messages(with_categories=true) %}
                         {% if messages %}
                        <ul>
                        {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                        {% endfor %}
                        </ul>
                        {% endif %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </section>

        <!-- CONTACT INFO
        ================================================== -->
        <section class="p-0 bg-light">
            <div class="container-fuild">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.3418515135304!2d79.1413319!3d12.9499636!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bad47c780e9ec9d%3A0xfd1e5d817742add!2sINDUS%20FASHIONS!5e0!3m2!1sen!2sin!4v1735131081164!5m2!1sen!2sin" width="100%"  height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </section>
        {% endblock %}
