{% extends "base.html" %}

{% block content %}
<!-- PAGE TITLE
     ================================================== -->
        <section class="page-title-section bg-img cover-background dark-overlay" data-overlay-dark="6" data-background="../static/img/banner/page-title.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="display-3">Corporate</h1>
                        <ul>
                            <li><a href="{{ url_for('index') }}">Home</a></li>
                            <li><a href="{{ url_for('corporate') }}">Corporate</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="line-animated">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="p-1-9 p-sm-2-3 bg-white bottom-0 left d-inline-block position-absolute z-index-3"></div>
            <div class="position-absolute shape-1 d-none d-sm-block"></div>
            <div class="px-6 px-sm-9 py-3 py-sm-4 bg-white bottom-0 right d-inline-block position-absolute z-index-3"></div>
        </section>
        <br>
        <div class="srr-container">
            <div class="srr-box">
              <img src="../static/img/corporate/image/corporate-class.jpg" alt="Yuken">
              <div class="srr-box-title">The Corporate Class</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/10KUUh7g2h84AaBltqB1nrZEoK4TggFyq/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
            <div class="srr-box">
              <img src="../static/img/corporate/image/corporate-studio.jpg" alt="Rexroth">
              <div class="srr-box-title">The Corporate Studio</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/1HhLLlcAicgcQQaBETD6BtfKSVBQj2PwF/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
            <div class="srr-box">
              <img src="../static/img/corporate/image/hospital-care.jpg" alt="Polyhydron">
              <div class="srr-box-title">Hospital Care</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/1oVqqN_vK-iMzYCjTovQHf5HoXtrIlhGs/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
        </div>
        <div class="srr-container">
            <div class="srr-box">
              <img src="../static/img/corporate/image/automobile.jpg" alt="Yuken">
              <div class="srr-box-title">Automobile Uniform</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/1jRLaeqyzShEQdKKEXUDUtciF4cMjUtyY/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
            <div class="srr-box">
              <img src="../static/img/corporate/image/m-plain-combo.jpg" alt="Rexroth">
              <div class="srr-box-title">M Plain Combo</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/1FqO2DW0Hl0ob60b5bEQdhhi6P5nCaVw6/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
            <div class="srr-box">
              <img src="../static/img/corporate/image/petrol-punk.jpg" alt="Polyhydron">
              <div class="srr-box-title">Petrol Pumb</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/1g4YFJZrC7PlL3bWqZyfJaLE9lB-0smJ7/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
        </div>
        <div class="srr-container">
            <div class="srr-box">
              <img src="../static/img/corporate/image/police.jpg" alt="Yuken">
              <div class="srr-box-title">Police Uniforms</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/17u3AW1lYGjLVTV835TnijZsYvwKP5Lc1/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
            <div class="srr-box">
              <img src="../static/img/corporate/image/work-wear.jpg" alt="Rexroth">
              <div class="srr-box-title">Work Wear</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/1Z9Iv74Y09l-nDDCqhEXTR6EYztdb8DFx/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
            <div class="srr-box">
              <img src="../static/img/corporate/image/pro-zone.jpg" alt="Polyhydron">
              <div class="srr-box-title">Pro Zone</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/10i0JFpuOlfhyJV1eF06QQmB4fE5ntAN9/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
        </div>
        <div class="srr-container">
            <div class="srr-box">
              <img src="../static/img/corporate/image/shelter.jpg" alt="Yuken">
              <div class="srr-box-title">Shelter</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/1l_2Ff-5kwDXll27kGNiAy3iLTrYkuxhI/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
            <div class="srr-box">
              <img src="../static/img/corporate/image/plainzone.jpg" alt="Rexroth">
              <div class="srr-box-title">Plain Zone</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/19jaLgsh6ypTqSSOpUxh4aOdzv6UrGyPX/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
        </div>
        {% endblock %}