
{% extends "base.html" %}

{% block content %}
        <!-- BANNER
        ================================================== -->
        <section class="py-6 py-md-16 py-lg-20 bg-img cover-background parallax dark-overlay" data-overlay-dark="65" data-background="../static/img/banner/slide-04.jpg">
            <div class="container pb-1-6 pb-sm-2-6 pb-md-0 pt-sm-6 pt-md-0 mt-n2-9">
                <div class="row align-items-center position-relative z-index-1 justify-content-center py-xxl-7">
                    <div class="col-md-10 col-xl-11 text-center py-5">
                        <h1 class="display-9 display-md-4 display-lg-3 display-xl-1 mb-2-2 text-shadow text-white font-weight-800 wow fadeInUp" data-wow-delay="200ms">INDUS FASHIONS</h1>          
                        <h4 class="display-9 display-md-4 display-lg-3 display-xl-1 mb-2-2 text-shadow text-white font-weight-800 wow fadeInUp" data-wow-delay="200ms" style="font-size: 40px;">Authorized Dealer of Valji Heritage Fabrics</h4>                 
                    </div>
                </div>
            </div>
        </section>

        <!-- FEATURES BOX
        ================================================== -->
        <section class="bg-transparent overflow-visible pt-0">
            <div class="container">
                <div class="feature-style01">
                    <div class="row mt-n1-9">
                        <div class="col-md-6 col-lg-4 mt-1-9">
                            <div class="card card-style8 border-0">
                                <div class="card-body d-flex p-0">
                                    <div class="flex-shrink-0 icon-holder position-relative">
                                        <div class="box"></div>
                                        <img src="../static/img/icon/uniform.png" alt="">
                                    </div>
                                    <div class="flex-grow-1 ms-4">
                                        <h4>School Uniform</h4>
                                        <p class="mb-0">The school uniforms, are a good <br>idea - very professional looking, and displays the school spirit. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 mt-1-9">
                            <div class="card card-style8 border-0">
                                <div class="card-body d-flex p-0">
                                    <div class="flex-shrink-0 icon-holder position-relative">
                                        <div class="box"></div>                                                           
                                        <img src="../static/img/icon/basketball-jersey.png" alt="">
                                    </div>
                                    <div class="flex-grow-1 ms-4">
                                        <h4>Sports Attire</h4>
                                        <p class="mb-0">Sportswear or activewear is athletic clothing, worn for sports activity & physical exercise. Sport-specific clothing is worn for most sports and physical exercise, for practical, comfort & safety reasons.  </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 mt-1-9">
                            <div class="card card-style8 border-0">
                                <div class="card-body d-flex p-0">
                                    <div class="flex-shrink-0 icon-holder position-relative">
                                        <div class="box"></div>                                                     
                                            <img src="static\img\icon\book.png" alt="">
                                        </div>
                                    <div class="flex-grow-1 ms-4">
                                        <h4>School Notebooks</h4>
                                        <p class="mb-0">One book, one pen, one child and one teacher can change the world; notebooks are essential tools for students, professionals & creative minds.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- ABOUT US
        ================================================== -->
        <section class="about-style-03 pb-1-6 pb-lg-5 pt-0">
            <div class="container">
                <div class="row align-items-center mt-n1-9">
                    <div class="col-lg-6 mt-1-9 wow fadeIn" data-wow-delay="200ms">
                        <div class="text-center position-relative d-flex justify-content-center align-items-center">
                            <img src="../static/img/about-sr/about4.png" alt="...">
                            <!-- <div class="position-absolute bottom-n10 left-n5 d-none d-sm-block">
                                <img src="img/about-sr/about5.png" alt="...">
                            </div> -->
                        </div>
                    </div>
                    <div class="col-lg-6 mt-2-2 mt-sm-12 mt-lg-1-9 wow fadeIn" data-wow-delay="300ms">
                        <div class="ps-lg-1-9 ps-xl-10">
                            <div class="section-title-01 mb-1-9">
                                <span class="text-secondary text-uppercase small letter-spacing-4 d-block mb-2 font-weight-600">About us.</span>
                                <h2 class="mb-0 h1" style="color:#13214c">WELCOME TO <br> INDUS FASHIONS: Redefining Uniform Excellence Since 1998</h2>
                            </div>
                            <p class="w-90">At Indus Fashions, we take pride in being a dynamic team of young, innovative designers and expert manufacturers of high-quality uniforms. Over the years, we have catered to the unique needs of diverse industries and educational institutions, becoming a trusted name in the world of uniform manufacturing.

                                Our motto is simple yet profound:
                                "A uniform is not just an attire; it is an identity that boosts the image and self-confidence of the wearer."
                                
                                This guiding principle has fueled our journey, transforming us from humble beginnings into a one-stop solution for all school, college, and corporate uniform needs..
                            </p>
                            <h3>A Legacy of Quality and Innovation</h3>
                            <p>Founded in 1998, Indus Fashions began its journey by directly marketing shirts and trousers on the bustling streets of Chennai. Through unwavering commitment, exceptional craftsmanship, and a customer-centric approach, we have grown into a brand synonymous with trust, quality, and innovation in the uniform industry.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

<br><br>

        <!--Vision Mission Start-->
        <section class="vision-changebg owl-carousel owl-theme py-0 bg-img cover-background" data-overlay-dark="0" data-background="../static/img/bg-sr/bg1.png">
            <div class="vision-wrapper bg-img cover-background" data-overlay-dark="2" data-background="../static/img/bg-sr/bg1.png">
                <div class="vision-content">
                    <h4 class="text-white mb-3" style="color:#13214c">Our Process</h4>
                    <p class="mb-0 text-white">Right from the conceptualization, designing and production of the uniforms, at all stages of the processes involved, we always strive to keep the cost at a minimum without compromising the quality. Our experienced staff and the skilled labourers are also committed to our ideologies and thus, besides maintaining the cost and quality, we also assure our clients prompt and timely delivery of the orders without deviation.
                    </p>
                </div>
            </div>
            <div class="vision-wrapper bg-img cover-background" data-overlay-dark="2" data-background="../static/img/bg-sr/bg2.png">
                <div class="vision-content">
                    <h4 class="text-white mb-3"  style="color:#13214c">Our Vision</h4>
                    <p class="mb-0 text-white">Our Vision is to be the preferred global partner for quality uniform fabrics. We envision a world where every uniform becomes a symbol of pride, reflecting the values and professionalism of the wearers. Through substainble practices & unwavering commitment, we aim to shape the future of uniform textiles
                    </p>
                </div>
            </div>
            <div class="vision-wrapper bg-img cover-background" data-overlay-dark="2" data-background="../static/img/bg-sr/bg3.png">
                <div class="vision-content">
                    <h4 class="text-white mb-3"  style="color:#13214c">Our Mission</h4>
                    <p class="mb-0 text-white">Our mission is to empower individuals and organizations with premium uniform fabrics that enhance comfort, confidence, and identity. We strive to be at the forefront of innovation, setting new benchmarks for equality and performance in the textile industry.
                    </p>
                </div>
            </div>
            <div class="vision-wrapper bg-img cover-background" data-overlay-dark="2" data-background="../static/img/bg-sr/bg4.png">
                <div class="vision-content">
                    <h4 class="text-white mb-3"  style="color:#13214c">Our Products</h4>
                    <p class="mb-0 text-white">School Uniforms, Notebooks, Embroidery, Sublimation Printing, Heat transfer Designs too are offered.
                    </p>
                </div>
            </div>
        </section>
        <!--Vision Mission End-->
        <!-- SERVICES
        ================================================== -->
        <section style="padding: 15px 0;">
            <div class="container">
                <div class="row align-items-xl-center justify-content-center">
                    <div class="col-md-9 col-lg-5 mb-4 mb-lg-0">
                        <div class="team-detail-img position-relative">
                            <img src="../static/img/service-sr/service.png" alt="...">
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="ps-xl-6">
                            <h3 class="h1 mb-2" style="color:#13214c">Specialized Services</h3>
                            <p class="mb-2-3">Besides staff and labour, we also have the infrastructure necessary for the industry such as machinery and related equipments. Some special services expected are such as</p>
                            <ul>
                                <li>Add/Remove trims and piping</li>
                                <li>Add/Remove shoulder emblems/epaulets</li>
                                <li>Change in Fabric Colour</li>
                                <li>Changes in colour, cuff and label style</li>
                                <li>After pocket and button styles</li>
                                <li>Length, waist, hip, thigh alterations</li>
                                <li>Modification of certain designs</li>
                            </ul>
                    </div>      
                </div>
            </div>
        </section>


        <!-- COUNTER
        ================================================== -->
        <section style="padding: 60px 0;">
            <div class="container">
                <div class="row mt-n5">
                    <div class="col-sm-6 col-lg-3 mt-5 wow fadeIn" data-wow-delay="200ms">
                        <div class="counter-box position-relative">
                            <div class="d-flex align-items-center position-relative z-index-9 justify-content-center justify-content-sm-center">
                                <div class="me-2 me-xl-4">
                                    <h4 class="mb-0 text-start display-5 display-xxl-3 font-weight-800 text-secondary"><span class="countup">20</span></h4>
                                </div>
                                <div>
                                    <h6 class="mb-0 text-start display-27 display-xl-25">Years of Experience</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mt-5 wow fadeIn" data-wow-delay="400ms">
                        <div class="counter-box position-relative">
                            <div class="d-flex align-items-center position-relative z-index-9 justify-content-center justify-content-sm-center">
                                <div class="me-2 me-xl-4">
                                    <h4 class="mb-0 text-start display-5 display-xxl-3 font-weight-800 text-secondary"><span class="countup">3</span></h4>
                                </div>
                                <div>
                                    <h6 class="mb-0 text-start display-27 display-xl-25">Number of States</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mt-5 wow fadeIn" data-wow-delay="800ms">
                        <div class="counter-box position-relative">
                            <div class="d-flex align-items-center position-relative z-index-9 justify-content-center justify-content-sm-center">
                                <div class="me-2 me-xl-4">
                                    <h4 class="mb-0 text-start display-5 display-xxl-3 font-weight-800 text-secondary"><span class="countup">60</span></h4>
                                </div>
                                <div>
                                    <h6 class="mb-0 text-start display-27 display-xl-25">Certified Schools</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<br>
        <!-- WHY CHOOSE US
        ================================================== -->
        <section style="background-color: #13214c;">
            <div class="container">
                <div class="row align-items-xl-center mt-n1-9">
                    <div class="col-lg-6 mt-1-9 wow fadeIn" data-wow-delay="200ms">
                        <div>
                            <div class="row mt-n1-9">
                                <div class="col-7 mt-1-9">
                                    <div class="mb-1-9">
                                        <img src="../static/img/valji-sr/dharshan.png" alt="..." class="w-100">
                                    </div>
                                    <div>
                                        <img src="../static/img/valji-sr/students.png" alt="..." class="w-100">
                                    </div>
                                </div>
                                <div class="col-5 mt-1-9">
                                    <img src="../static/img/valji-sr/two-members.png" alt="..." class="h-100">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-1-9 wow fadeIn" data-wow-delay="400ms">
                        <div class="ps-lg-1-9 ps-xl-2-9 ps-xxl-9">
                            <div class="section-title-01 mb-1-9">
                                <h2 class="mb-0 h1" style="color:#ebc301;">EMPOWER YOUR IDENTITY</h2>
                                <br>
                                <h3 style="color:white">WITH VALJI UNIFORMS</h3>
                                <br>
                                <p style="text-align: justify;color:white">Valji is one of the largest manufacturers of uniform and business wear fabrics. With the annual production output of over 25 million meters we defining volume and variety. Quality, innovation and supreme service are the key pillars of our industry. Our fabrics not only dress bodies but empower identities, leaving an indelible mark on the wearers and the world they touch.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- PROCESS
        ================================================== -->
        <section style="padding: 40px 0;">
            <div class="container">
                <div class="section-title mb-1-9 mb-md-6 text-center wow fadeInUp" data-wow-delay="200ms">
                    <h2 class="mb-0 h1 mt-2" style="color:#13214c">Our Promise</h2>
                </div>
                <div class="row mt-n1-9">
                    <div class="col-md-6 col-lg-3 mt-1-9 wow fadeIn" data-wow-delay="200ms">
                        <div class="process-style-01">
                            <div class="process-block">
                                <div class="process-icon">
                                    <img src="../static/img/promises-sr/fabric-pattern.png" alt="">
                                </div>
                                <div class="process-count">
                                    <span>1</span>
                                </div>
                            </div>
                            <h3 class="mb-0 h4 text-center" style="color:#13214c">Skin Friendly Fabrics</h3>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mt-1-9 wow fadeIn" data-wow-delay="300ms">
                        <div class="process-style-01">
                            <div class="process-block">
                                <div class="process-icon">
                                    <img src="../static/img/promises-sr/fabric.png" alt="">
                                </div>
                                <div class="process-count">
                                    <span>2</span>
                                </div>
                            </div>
                            <h3 class="mb-0 h4 text-center" style="color:#13214c">Pilling Resistant</h3>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mt-1-9 wow fadeIn" data-wow-delay="400ms">
                        <div class="process-style-01">
                            <div class="process-block">
                                <div class="process-icon">
                                    <img src="../static/img/promises-sr/color-adjustment.png" alt="">
                                </div>
                                <div class="process-count">
                                    <span>3</span>
                                </div>
                            </div>
                            <h3 class="mb-0 h4 text-center" style="color:#13214c">Excellent Color Fastness</h3>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mt-1-9 wow fadeIn" data-wow-delay="500ms">
                        <div class="process-style-01">
                            <div class="process-block">
                                <div class="process-icon">
                                    <img src="../static/img/promises-sr/recycle.png" alt="">
                                </div>
                                <div class="process-count">
                                    <span>4</span>
                                </div>
                            </div>
                            <h3 class="mb-0 h4 text-center" style="color:#13214c">Eco-Friendly</h3>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mt-1-9 wow fadeIn" data-wow-delay="500ms">
                        <div class="process-style-01">
                            <div class="process-block">
                                <div class="process-icon">
                                    <img src="../static/img/promises-sr/clock.png" alt="">
                                </div>
                                <div class="process-count">
                                    <span>5</span>
                                </div>
                            </div>
                            <h3 class="mb-0 h4 text-center" style="color:#13214c">Quick & Responsive Service</h3>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mt-1-9 wow fadeIn" data-wow-delay="500ms">
                        <div class="process-style-01">
                            <div class="process-block">
                                <div class="process-icon">
                                    <img src="../static/img/promises-sr/delivery-truck.png" alt="">
                                </div>
                                <div class="process-count">
                                    <span>6</span>
                                </div>
                            </div>
                            <h3 class="mb-0 h4 text-center" style="color:#13214c">On Time Delivery</h3>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mt-1-9 wow fadeIn" data-wow-delay="500ms">
                        <div class="process-style-01">
                            <div class="process-block">
                                <div class="process-icon">
                                    <img src="../static/img/promises-sr/box.png" alt="">
                                </div>
                                <div class="process-count">
                                    <span>7</span>
                                </div>
                            </div>
                            <h3 class="mb-0 h4 text-center" style="color:#13214c">Ready Stock Availability</h3>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mt-1-9 wow fadeIn" data-wow-delay="500ms">
                        <div class="process-style-01">
                            <div class="process-block">
                                <div class="process-icon">
                                    <img src="../static/img/promises-sr/clipboard.png" alt="">
                                </div>
                                <div class="process-count">
                                    <span>8</span>
                                </div>
                            </div>
                            <h3 class="mb-0 h4 text-center" style="color:#13214c">Extensive Range of Designs</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endblock %}
