{% extends "base.html" %}

{% block content %}
<!-- PAGE TITLE
        ================================================== -->
        <section class="page-title-section bg-img cover-background dark-overlay" data-overlay-dark="6" data-background="../static/img/banner/page-title.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="display-3">Master School</h1>
                        <ul>
                            <li><a href="{{ url_for('index') }}">Home</a></li>
                            <li><a href="{{ url_for('masterschool') }}">Master School</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="line-animated">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="p-1-9 p-sm-2-3 bg-white bottom-0 left d-inline-block position-absolute z-index-3"></div>
            <div class="position-absolute shape-1 d-none d-sm-block"></div>
            <div class="px-6 px-sm-9 py-3 py-sm-4 bg-white bottom-0 right d-inline-block position-absolute z-index-3"></div>
        </section>
        <br>
        <div class="srr-container">
            <div class="srr-box">
              <img src="../static/img/master-school/image/little-club.jpg" alt="Yuken">
              <div class="srr-box-title">Little Club Book A</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/1hpaW_Ia6YBKSH3cqW86CPr19Pyw3Ducy/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
            <div class="srr-box">
              <img src="../static/img/master-school/image/little-club-book1.jpg" alt="Rexroth">
              <div class="srr-box-title">Little Club Book B</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/1rvjZFKMGimm65BFdwiKDcQaE6RG5SNt-/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
            <div class="srr-box">
              <img src="../static/img/master-school/image/little-club-book2.jpg" alt="Polyhydron">
              <div class="srr-box-title">Little Club Book C</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/1TPyA-2JNST6SxxknP6MXFMoNnlkT8k2T/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
        </div>
        <div class="srr-container">
            <div class="srr-box">
              <img src="../static/img/master-school/image/mega-book-a.jpg" alt="Yuken">
              <div class="srr-box-title">Mega Book A</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/14CYu2MrpPEuxc4IYsFNYoJqRNYFJQi6L/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
            <div class="srr-box">
              <img src="../static/img/master-school/image/mega-book-b.jpg" alt="Rexroth">
              <div class="srr-box-title">Mega Book B</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/1fGFBewA9v4eZefV_oYd2SbFF8gsVs6gz/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
            <div class="srr-box">
              <img src="../static/img/master-school/image/mega-book-c.jpg" alt="Polyhydron">
              <div class="srr-box-title">Mega Book C</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/19AAQ18HIUeZ448Sjf-REb86NZd3lBl5y/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
        </div>
        <div class="srr-container">
            <div class="srr-box">
              <img src="../static/img/master-school/image/mega-book-d.jpg" alt="Yuken">
              <div class="srr-box-title">Mega Book D</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/1-4eehEusYgftlsrpLSUssCz4j8BksMzB/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
            <div class="srr-box">
              <img src="../static/img/master-school/image/mega-book-e.jpg" alt="Rexroth">
              <div class="srr-box-title">Mega Book E</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/1tK1lpne2-sFEJggUrZN2hLZyPFE_eTwd/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
            <div class="srr-box">
              <img src="../static/img/master-school/image/mega-book-f.jpg" alt="Polyhydron">
              <div class="srr-box-title">Mega Book F</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/1p7DjXKPjl9aup2KagDiAu5RGjpvjp9LX/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
        </div>
        <div class="srr-container">
            <div class="srr-box">
              <img src="../static/img/master-school/image/mega-book-g.jpg" alt="Yuken">
              <div class="srr-box-title">Mega Book G</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/10eyMurl4DakyJplSpH5BFe8izSAvuLY4/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
            <div class="srr-box">
              <img src="../static/img/master-school/image/mega-book-h.jpg" alt="Rexroth">
              <div class="srr-box-title">Mega Book H</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/1nP6NdvRWME0wGqBGVYPXSyO0HE-2lu73/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
            <div class="srr-box">
              <img src="../static/img/master-school/image/mega-book-s.jpg" alt="Polyhydron">
              <div class="srr-box-title">Mega Book S</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/11yTeWQfZvQP2JNTpkCtOO4e2MojmdrZg/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
        </div>
        <div class="srr-container">
            <div class="srr-box">
              <img src="../static/img/master-school/image/mega-book-t.jpg" alt="Yuken">
              <div class="srr-box-title">Mega Book T</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/1argixXcGtsbGWz0AZHmDLIX7MVW8T6O4/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
        </div>
        <br>
        {% endblock %}