
{% extends "base.html" %}

{% block content %}
        <!-- PAGE TITLE
        ================================================== -->
        <section class="page-title-section bg-img cover-background dark-overlay" data-overlay-dark="6"
            data-background="../static/img/banner/page-title.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="display-3">Our Clients</h1>
                        <ul>
                            <li><a href="{{ url_for('index') }}">Home</a></li>
                            <li><a href="{{ url_for('ourclients') }}">Our Clients</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="line-animated">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="p-1-9 p-sm-2-3 bg-white bottom-0 left d-inline-block position-absolute z-index-3"></div>
            <div class="position-absolute shape-1 d-none d-sm-block"></div>
            <div class="px-6 px-sm-9 py-3 py-sm-4 bg-white bottom-0 right d-inline-block position-absolute z-index-3">
            </div>
        </section>
        <!--Start Clients-->
        <section>
            <div class="container position-relative z-index-1">
                <div class="row align-items-xl-center about-style-01">
                    <div class="col-lg-6 mb-5 mb-sm-7 mb-lg-0 wow fadeIn" data-wow-delay="200ms" style="visibility: visible; animation-delay: 200ms; animation-name: fadeIn;">
                        <div class="about-img position-relative pe-lg-1-9">
                            <img src="../static/img/clients/tamilnadu.png" alt="...">
                            <div class="d-inline-block p-2-3 bg-white position-absolute bottom-0 left"></div>
                            <div class="d-inline-block p-3 bg-white position-absolute about-shape"></div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="400ms" style="visibility: visible; animation-delay: 400ms; animation-name: fadeIn;">
                        <div>
                            <div class="section-title">
                                <span>Tamil Nadu Clients</span>
                            </div>
                            <h2 class="h1 mb-4 mt-2 z-index-2 position-relative">Indus Fashions: Partnering with Tamil Nadu’s Premier Schools for Over 20 Years</h2>
                            <p class="mb-1-9 mt-n2">
                                At Indus Fashions, we are more than just uniform manufacturers—we are long-term partners in shaping the future of education in Tamil Nadu. With over 32 prestigious schools trusting us, we’ve established ourselves as the go-to uniform supplier, offering high-quality, customizable solutions that meet the unique needs of each institution.
                            </p>
                            <h4>Our Commitment to Tamil Nadu Schools</h4>
                            <p>Tailored Uniform Solutions: Whether it’s for a high-end private institution or a community-based school, we offer fully customized uniforms tailored to your school’s specific needs, values, and culture.</p>
                            <ul class="list-style2 mb-1-9">
                                <li><b>Quality You Can Count On:</b> All our fabrics are handpicked for their durability and comfort, ensuring that students feel their best throughout the school year.
                                </li>
                                <li><b>Competitive Pricing:</b> With ex-mill rates, our direct partnership with fabric mills allows us to provide the best prices in the market while maintaining top-tier quality.
                                </li>
                                <li><b>Unwavering Support:</b> From the moment you contact us to the final delivery, our team ensures seamless communication and service, making the uniform process hassle-free for schools.
                                </li>
                            </ul>
                            <h4>Schools Across Tamil Nadu Trust Indus Fashions</h4>
                            <p>We are proud to support the education sector across Tamil Nadu, join over 32 schools in the region who trust us to create uniforms that blend style, comfort, and function.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Clients-->

        <!--Start Andhra-->
        <section style="padding: 27px 0;">
            <div class="container position-relative z-index-1">
                <div class="row align-items-xl-center about-style-01 res-imgcon">
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="400ms" style="visibility: visible; animation-delay: 400ms; animation-name: fadeIn;">
                        <div>
                            <div class="section-title">
                                <span>Andhra Pradesh Clients</span>
                            </div>
                            <h2 class="h1 mb-4 mt-2 z-index-2 position-relative">Indus Fashions: Leading School Uniform Supplier for Andhra Pradesh’s Top Institutions</h2>
                            <p class="mb-1-9 mt-n2">
                                For more than 3 years, Indus Fashions has been providing exceptional school uniforms to some of the most respected educational institutions in Andhra Pradesh. We understand the importance of a school’s image, and our uniforms help students make a lasting impression.
                            </p>
                            <h4>Why Schools in Andhra Pradesh Choose Us</h4>
                            <p>Dedicated to Excellence: Our commitment to providing high-quality school uniforms means that students look and feel great while attending school. We use the finest materials for a perfect blend of comfort and durability.</p>
                            <ul class="list-style2 mb-1-9">
                                <li><b>Exclusively Tailored Designs:</b> Whether it's traditional or modern, our team works directly with schools to create uniforms that align with their branding and ethos.
                                </li>
                                <li><b>Affordable & Transparent Pricing:</b> Enjoy the benefits of ex-mill rates, ensuring that schools get the highest quality fabrics at the best prices.
                                </li>
                                <li><b>Responsive Customer Service: </b>Our team listens, understands, and delivers exactly what schools need, maintaining a smooth process from start to finish.
                                </li>
                            </ul>
                            <h4>Our Impact in Andhra Pradesh</h4>
                            <p>With 28+ satisfied schools throughout the state, Indus Fashions is proud to be part of Andhra Pradesh’s educational fabric. Schools in Andhra Pradesh has embraced our uniforms as a symbol of quality and professionalism.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-5 mb-sm-7 mb-lg-0 wow fadeIn" data-wow-delay="200ms" style="visibility: visible; animation-delay: 200ms; animation-name: fadeIn;">
                        <div class="about-img position-relative pe-lg-1-9">
                            <img src="../static/img/clients/andhra.png" alt="...">
                            <div class="d-inline-block p-2-3 bg-white position-absolute bottom-0 left"></div>
                            <div class="d-inline-block p-3 bg-white position-absolute about-shape"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Andhra-->

        <!--Start Karnataka-->
        <section style="padding: 27px 0;">
            <div class="container position-relative z-index-1">
                <div class="row align-items-xl-center about-style-01">
                    <div class="col-lg-6 mb-5 mb-sm-7 mb-lg-0 wow fadeIn" data-wow-delay="200ms" style="visibility: visible; animation-delay: 200ms; animation-name: fadeIn;">
                        <div class="about-img position-relative pe-lg-1-9">
                            <img src="../static/img/clients/karnataka.png" alt="...">
                            <div class="d-inline-block p-2-3 bg-white position-absolute bottom-0 left"></div>
                            <div class="d-inline-block p-3 bg-white position-absolute about-shape"></div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="400ms" style="visibility: visible; animation-delay: 400ms; animation-name: fadeIn;">
                        <div>
                            <div class="section-title">
                                <span>Karnataka Clients</span>
                            </div>
                            <h2 class="h1 mb-4 mt-2 z-index-2 position-relative">Indus Fashions: Setting the Standard for School Uniforms Across Karnataka</h2>
                            <p class="mb-1-9 mt-n2">
                                At Indus Fashions, we believe school uniforms should represent more than just attire—they should be a testament to a school’s values and pride. That’s why we work with over 9 schools in Karnataka to deliver exceptional uniforms that elevate the school’s image while offering students the comfort and durability they deserve.
                            </p>
                            <h4>What Makes Us Different?</h4>
                            <p>Industry-Leading Fabric Selection: We take no shortcuts when it comes to quality. Every uniform is crafted with premium fabrics sourced directly from mills to ensure long-lasting wear.
                            </p>
                            <ul class="list-style2 mb-1-9">
                                <li><b>Comprehensive Customization:</b> From vibrant designs to tailored sizes and school-specific details like logos and patches, we provide a level of customization that sets us apart from others.
                                </li>
                                <li><b>Ex-Mill Pricing Advantage:</b> We offer ex-mill rates, meaning schools can secure the best prices without sacrificing the quality of their uniforms.
                                </li>
                                <li><b>Ongoing Support:</b> Our commitment doesn’t end at delivery. We’re here for ongoing support, ensuring your uniforms last through the school year and beyond.
                                </li>
                            </ul>
                            <h4>Indus Fashions in Karnataka</h4>
                            <p>We are honored to serve over 9 schools across Karnataka. Our uniforms have become synonymous with quality and trust in the state’s education community.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Karnataka-->
       <br>
       {% endblock %}
