{% extends "base.html" %}

{% block content %}
<!-- PAGE TITLE
        ================================================== -->
        <section class="page-title-section bg-img cover-background dark-overlay" data-overlay-dark="6" data-background="../static/img/banner/page-title.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="display-3">School</h1>
                        <ul>
                            <li><a href="{{ url_for('index') }}">Home</a></li>
                            <li><a href="{{ url_for('school') }}">School</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="line-animated">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="p-1-9 p-sm-2-3 bg-white bottom-0 left d-inline-block position-absolute z-index-3"></div>
            <div class="position-absolute shape-1 d-none d-sm-block"></div>
            <div class="px-6 px-sm-9 py-3 py-sm-4 bg-white bottom-0 right d-inline-block position-absolute z-index-3"></div>
        </section>
        <br>
        <div class="srr-container">
            <div class="srr-box">
              <img src="../static/img/school/image/concept.jpg" alt="Yuken">
              <div class="srr-box-title">The Concept</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/1QU155X4SrWMXjapYlTF1h7TechphBIBg/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
            <div class="srr-box">
              <img src="../static/img/school/image/blossom.jpg" alt="Rexroth">
              <div class="srr-box-title">Blosssom</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/1X6Co2DbquY4hJXtz43IJLY36zYx_FqmK/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
            <div class="srr-box">
              <img src="../static/img/school/image/crispin.jpg" alt="Polyhydron">
              <div class="srr-box-title">Crispin</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/1lT8gch8F2S2zmCHQZwu9vA02VlQoPbsx/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
        </div>
        <div class="srr-container">
            <div class="srr-box">
              <img src="../static/img/school/image/opel-rose.jpg" alt="Yuken">
              <div class="srr-box-title">Opel Rose</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/1LAeK6XJdE07XrYRmb8C6tsfycfNqgzjO/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
            <div class="srr-box">
              <img src="../static/img/school/image/british-bond.jpg" alt="Rexroth">
              <div class="srr-box-title">British Bond</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/1LAeK6XJdE07XrYRmb8C6tsfycfNqgzjO/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
            <div class="srr-box">
              <img src="../static/img/school/image/kids-star.jpg" alt="Polyhydron">
              <div class="srr-box-title">Kids Star</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/1P8hy-4vbSiwOECPAnwK2eIffCtJW888A/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
        </div>
        <div class="srr-container">
            <div class="srr-box">
              <img src="../static/img/school/image/otava.jpg" alt="Yuken">
              <div class="srr-box-title">Otava</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/1OmdXvL9PCKIWaSlzRdIeTluKiKWDbNwM/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
            <div class="srr-box">
              <img src="../static/img/school/image/sawan.jpg" alt="Rexroth">
              <div class="srr-box-title">Sawan</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/1lAjTsiYfWKkbx4os9EOuyHvAA9CXMzQJ/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
            <div class="srr-box">
              <img src="../static/img/school/image/saya.jpg" alt="Polyhydron">
              <div class="srr-box-title">Saya</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/1hBfVmkQx1XMtzimzi7qePY4RAO69gUTC/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
        </div>
        <div class="srr-container">
            <div class="srr-box">
              <img src="../static/img/school/image/oxygen.jpg" alt="Yuken">
              <div class="srr-box-title">Oxygen</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/12--q3XBt-TGdUoEM1AV-OxoGFMl1x9HN/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
            <div class="srr-box">
              <img src="../static/img/school/image/new-castle.jpg" alt="Rexroth">
              <div class="srr-box-title">New Castle</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/1LQthSB7pYkq-tMfO8w-ZkGLsa-5eH0Zw/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
            <div class="srr-box">
              <img src="../static/img/school/image/victoria.jpg" alt="Polyhydron">
              <div class="srr-box-title">Victoria</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/1Yta1FvtgdaXjoe7tZ-bRfTM57hsUM5OH/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
        </div>
        <div class="srr-container">
            <div class="srr-box">
              <img src="../static/img/school/image/champion.jpg" alt="Yuken">
              <div class="srr-box-title">Champion</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/1q3-FAfNnIQSn6tLI42ELd025fpJWwmY7/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
            <div class="srr-box">
              <img src="../static/img/school/image/pollard.jpg" alt="Rexroth">
              <div class="srr-box-title">Pollard</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/1rN-IPwPWSyuRn1TTtsnicoDXvhH1_X-i/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
            <div class="srr-box">
              <img src="../static/img/school/image/gladltor.jpg" alt="Polyhydron">
              <div class="srr-box-title">Gladiator</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/1oDpunU4oG2qTXRhQCg4gK9ofQzyz_5Ih/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
        </div>
        <div class="srr-container">
            <div class="srr-box">
              <img src="../static/img/school/image/bravado.jpg" alt="Yuken">
              <div class="srr-box-title">Bravado Web</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/1U_pyEKAzuXjH9QuIDle0Zk059BYb2C0y/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
            <div class="srr-box">
              <img src="../static/img/school/image/wt-times.jpg" alt="Rexroth">
              <div class="srr-box-title">WT Times</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/1MjqohBL-Gs_uPZlI2ujBH1V0T0djmXPa/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
            <div class="srr-box">
              <img src="../static/img/school/image/qw-times.jpg" alt="Polyhydron">
              <div class="srr-box-title">QW Times</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/1PEEy8r1UdWesjRhwuYLx2JqTOm5lxLQI/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
        </div>
        <div class="srr-container">
            <div class="srr-box">
              <img src="../static/img/school/image/m-corporate-thread.jpg" alt="Yuken">
              <div class="srr-box-title">M Corporate Thread MCT</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/1Azlb1hudr8dXbhXTC9HUKwR7vmJO7XTZ/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
            <div class="srr-box">
              <img src="../static/img/school/image/cot-mot.jpg" alt="Rexroth">
              <div class="srr-box-title">COT MOT</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/1wxSEYzvafYQgEEaeeMERcprUjlMYmm6V/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
            <div class="srr-box">
              <img src="../static/img/school/image/emrald.jpg" alt="Polyhydron">
              <div class="srr-box-title">Emrald</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/1nUOwhZHWkjRqT3fPucaDiHqNV99fD0_a/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
        </div>
        <div class="srr-container">
            <div class="srr-box">
              <img src="../static/img/school/image/forrex.jpg" alt="Yuken">
              <div class="srr-box-title">Forrex Plus BK</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/1wxSEYzvafYQgEEaeeMERcprUjlMYmm6V/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
            <div class="srr-box">
              <img src="../static/img/school/image/htc-lava.jpg" alt="Rexroth">
              <div class="srr-box-title">HTC LAVA</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/1C5QfKss3rNllZYIsGdGsG6Dr52mWiYRI/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
            <div class="srr-box">
              <img src="../static/img/school/image/euroford.jpg" alt="Polyhydron">
              <div class="srr-box-title">Euroford Astoria</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/1KqMm4A-mMkdHxguVaKQIuGQ2xxrlBYdf/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
        </div>
        <div class="srr-container">
            <div class="srr-box">
              <img src="../static/img/school/image/idea-plus.jpg" alt="Yuken">
              <div class="srr-box-title">IDEA Plus</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/1kix3t2tjvs2lIfUtlNvvpeXvyFfLjOCo/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
            <div class="srr-box">
              <img src="../static/img/school/image/kangaroo.jpg" alt="Rexroth">
              <div class="srr-box-title">Kangaroo Designer Pattern</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/14gJ_-a9RANXYY8_EurAl7l8xXVCCoOwe/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
            <div class="srr-box">
              <img src="../static/img/school/image/american-collection.jpg" alt="Polyhydron">
              <div class="srr-box-title">American Collection</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/14GoSHTPG13W0DL_yl28yR-GxJAJWIj2E/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
        </div>
        <div class="srr-container">
            <div class="srr-box">
              <img src="../static/img/school/image/chalk.jpg" alt="Yuken">
              <div class="srr-box-title">Chalk on Board</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/10jMYl9wW7NTY-ErbRi75pJ3Pkj30i-Io/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
            <div class="srr-box">
              <img src="../static/img/school/image/plain-zone.jpg" alt="Rexroth">
              <div class="srr-box-title">Plain Zone</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/1CH7Ir5l3BQjqOQ6JtNTi6MJ_w6ifkgeM/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
            <div class="srr-box">
              <img src="../static/img/school/image/school-time.jpg" alt="Polyhydron">
              <div class="srr-box-title">School Time</div>
              <div class="bgg"><a href="https://drive.google.com/file/d/1i0ROvppcaHfuQLulFJuaSRGHw0CIvvp7/view?usp=sharing" target="_blank" class="view">View More</a></div>
            </div>
        </div>
        <br>
        {% endblock %}